#start {
    color: violet;
    font-size: 30px;
}
.title {
    color: orange;
    font-size: 30px;
}
.title1 {
    color: mediumslateblue;
}
.title2 {
    color: hotpink;
}
.title3 {
    color: red;
}
.text {
    color: green;
}